@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Documentos";
    string doc_name = @ViewBag.Name;
}
<h2>Documentos Disponíveis</h2>

<div class="row">
    <h3>Seção 1</h3>
    <p>Leis, decretos, resoluções, instruções normativas, portarias e outros atos normativos</p>
    @{
        for (int year = 2017; year >= 2002; year--)
        {
            <div class="col-sm-1"><a asp-route="Browser_YearTipo" asp-route-year="@year" asp-route-tipo="DO1">@year</a></div>
        }
    }
</div>

<div class="row">
    <h3>Seção 2</h3>
    <p>Portarias de nomeação, exoneração, aposentadoria e outros atos relativos a servidores da administração</p>

    @{
        for (int year = 2017; year >= 2002; year--)
        {
            <div class="col-sm-1"><a asp-route="Browser_YearTipo" asp-route-year="@year" asp-route-tipo="DO2">@year</a></div>
        }
    }
</div>

<div class="row">
    <h3>Seção 3</h3>
    <p>Contratos, editais, avisos, balanços de empresas e outros</p>

    @{
        for (int year = 2017; year >= 2002; year--)
        {
            <div class="col-sm-1"><a asp-route="Browser_YearTipo" asp-route-year="@year" asp-route-tipo="DO3">@year</a></div>
        }
    }
</div>