@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = $"{ViewBag.Year}: {ViewBag.Name}";

    string HtmlEnableButtonSecao(string name)
    {
        return (name == ViewBag.Tipo) ? "btn-primary" : "";
    }

    string GetYearBefore()
    {
        int yearBefore = (int)ViewBag.Year - 1;

        return (yearBefore < 2002) ? "" : yearBefore.ToString();
    }

    string GetYearAfter()
    {
        int yearAfter = (int)ViewBag.Year + 1;
        return (yearAfter > 2017) ? "" : yearAfter.ToString();
    }
}

<style>
    text.month-name,
    text.calendar-heatmap-legend-text,
    text.day-initial {
        font-size: 10px;
        fill: inherit;
        font-family: Helvetica, arial, 'Open Sans', sans-serif;
    }

    rect.day-cell:hover {
        stroke: #555555;
        stroke-width: 1px;
    }

    .day-cell-tooltip {
        position: absolute;
        z-index: 9999;
        padding: 5px 9px;
        color: #bbbbbb;
        font-size: 12px;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 3px;
        text-align: center;
    }

        .day-cell-tooltip > span {
            font-family: Helvetica, arial, 'Open Sans', sans-serif
        }

    .calendar-heatmap {
        box-sizing: initial;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="/lib/calendar-heatmap/calendar-heatmap.js"></script>

<div class="row">
    <h2 class="col-sm-offset-2 col-sm-1"><a asp-route="Browser_YearTipo" asp-route-year="@GetYearBefore()" asp-route-tipo="@ViewBag.Tipo">@GetYearBefore()</a></h2>
    <h2 class="col-sm-6 text-center">@ViewBag.Year</h2>
    <h2 class="col-sm-2"><a asp-route="Browser_YearTipo" asp-route-year="@GetYearAfter()" asp-route-tipo="@ViewBag.Tipo">@GetYearAfter()</a></h2>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-2">
        <div style="height: 200px">
            <div class="container calendar-2017" ></div>
            <script type="text/javascript">

                var currentYear = new Date('@ViewBag.Year-01-01');

                var chartData = [@Html.Raw(ViewBag.AvailableDatesHtml)];

                var heatmap = calendarHeatmap()
                    .rawdata(chartData)
                    .startDate(currentYear)
                    .selector('.container.calendar-2017')
                    .tooltipEnabled(true)
                    .legendEnabled(false)
                    .colorRange(['#f4f7f7', '#79a859'])
                    .onClick(function (data) {
                        var d = data.date.toISOString().slice(0, 10);
                        window.location = "@ViewBag.RedirectDocumentUrl?" + d;
                    });
                heatmap();  // render the chart

            </script>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-6 col-sm-1"></div>
    <div class="col-sm-1"><a class="btn btn-default @HtmlEnableButtonSecao("DO1")" asp-route="Browser_YearTipo" asp-route-year="@ViewBag.Year" asp-route-tipo="DO1">Seção 1</a></div>
    <div class="col-sm-1"><a class="btn btn-default @HtmlEnableButtonSecao("DO2")" asp-route="Browser_YearTipo" asp-route-year="@ViewBag.Year" asp-route-tipo="DO2">Seção 2</a></div>
    <div class="col-sm-1"><a class="btn btn-default @HtmlEnableButtonSecao("DO3")" asp-route="Browser_YearTipo" asp-route-year="@ViewBag.Year" asp-route-tipo="DO3">Seção 3</a></div>
</div>