@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "View";
    string doc_name = @ViewBag.Name;
}

<style>
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p.image {
        text-align: center;
        max-width: 100%;
        margin: 0;
    }

    p.identifica {
        font-size: large;
        font-weight: bold;
        text-align: center;
    }

    p.subtitulo {
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }

    p.ementa {
        margin-left: 40%;
    }

    p.data, p.assina, p.cargo {
        margin-left: 60%;
    }
</style>

<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-offset-2 col-sm-1"><a href="/Documents/@ViewBag.Name">Sumário</a></div>
    <div class="col-sm-offset-3 col-sm-1"></div>
    <div class="col-sm-1"><a href="@ViewBag.PdfPage" target="_blank">PDF</a></div>
    <div class="col-sm-1"><a href="./text">Text</a></div>
    <div class="col-sm-1"><a href="./gn4">GNXML</a></div>
    <div class="col-sm-12"><hr /></div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <article-html text="@ViewBag.Html"></article-html>
    </div>
</div>

<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-offset-2 col-sm-1">
        <a asp-route="Articles_Previous" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.Id">Anterior</a>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-1">
        <a asp-route="Articles_Next" asp-route-name="@ViewBag.Name" asp-route-id="@ViewBag.Id">Proximo</a>
    </div>
</div>

@if (ViewBag.ImageRatio > 0)
{
    <script>
    (function() {
        var ratio = @ViewBag.ImageRatio;

        function resizeImage(img, w, h) {
            img.width = w;
            img.height = h;
        };

        var imgs = document.getElementsByTagName('img');
        for (var i = 0; i < imgs.length; i++) {
            var img = imgs[i];
            img.id = "img" + i;

            img.onload = function () {
                var thisImage = this;
                resizeImage(thisImage, thisImage.width / ratio, thisImage.height / ratio);
            }
        }
    })();
    </script>
}